<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plugin.Permissions" version="1.2.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Plugin.SQLite" version="1.0.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="sqlite-net-pcl" version="1.1.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SQLitePCL.raw" version="0.8.6" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.Maps" version="2.3.4.231" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>